{% extends 'baseBack.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    <a href="{{ path('app_commande_back_index') }}">back to list</a>
    {{ include('commande_back/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('commande_back/_delete_form.html.twig') }}
{% endblock %}
