{% extends 'baseBack.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1>Create new Commande</h1>

    <a href="{{ path('app_commande_back_index') }}">back to list</a>
    {{ include('commande_back/_form.html.twig') }}

{% endblock %}
