{% extends 'baseBack.html.twig' %}

{% block title %}Edit LikeUser{% endblock %}

{% block body %}
    <h1>Edit LikeUser</h1>

    {{ include('like_user_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_like_user_back_index') }}">back to list</a>

    {{ include('like_user_back/_delete_form.html.twig') }}
{% endblock %}
