{% extends 'base.html.twig' %}

{% block title %}Tables index{% endblock %}

{% block body %}
    <div class="container">
        <div class="list-group">
            {% for table in tables %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ table.nomZone }}</h5>
                        <small>Capacity: {{ table.capaciteT }}</small>
                    </div>
                    <p class="mb-1">Table ID: {{ table.tableId }}</p>
                    <div class="text-end">
                        <a href="{{ path('app_reservation_zone_new', {'zoneName': zone.nom, 'tableId': table.tableId}) }}" class="btn btn-primary">Reserveé</a>
                    </div>
                </div>
            {% else %}
                <p class="text-muted">No records found</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
