{% extends 'baseBack.html.twig' %}

{% block title %}Edit CategorieMenu{% endblock %}

{% block body %}
    <h1>Edit CategorieMenu</h1>

    {{ include('categorie_menu_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_menu_back_index') }}">back to list</a>

    {{ include('categorie_menu_back/_delete_form.html.twig') }}
{% endblock %}
